[Unit]
Description=MindVault FastAPI Service
After=network.target

[Service]
User=games
Group=games
WorkingDirectory=/var/www/mindvault
ExecStart=/var/www/mindvault/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000

Restart=always

[Install]
WantedBy=multi-user.target
